#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
    margin: 20%;
    border: 4px solid #164335;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #a8d6b7;
    left: 20%;
  }
  
  .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .card-assigned,
  .card-dates {
    font-size: 0.9em;
    color: #555;
  } 